<div class="client-logos-hero">
    <div class="row client-logos">
        <div class="col-3">
            <a href="https://mlh.io"><img src="assets/img/clients/mlh.png" /></a>
        </div>
        <div class="col-3">
            <a href="https://www.grindr.com"><img src="assets/img/clients/grindr.png" /></a>
        </div>
        <div class="col-3">
            <a href="https://hackquarantine.com"><img src="assets/img/clients/hackquarantine.png" /></a>
        </div>
        <div class="col-3">
            <a href="https://globalbgmc.org/"><img src="assets/img/clients/gbgmc.png" /></a>
        </div>
    </div>
    <div class="row client-logos">
        <div class="col-3">
            <a href="https://worldhackathonday.com"><img src="assets/img/clients/whd.png" /></a>
        </div>
        <div class="col-3">
            <a href="https://hackathons.org.uk"><img src="assets/img/clients/hackathonsuk.svg" /></a>
        </div>
        <div class="col-3">
            <a href="https://hacktheburgh.com"><img src="assets/img/clients/htb.png" /></a>
        </div>
        <div class="col-3">
            <a href="https://covhack.org"><img src="assets/img/clients/covhack.png" /></a>
        </div>
    </div>
</div>