<!-- contact -->
<section class="section bg-highlight" >
  <div class="container">
    <div class="row h-25">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.contact-title }}</h2>
        <div class="col-lg-6 col-10 mx-auto">
          <form action="mailto:hello@hack.productions">
            <button type="submit" class="btn btn-primary w-100">Get In Touch!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->