<!-- contact -->
<section class="section section-on-footer bg-highlight" >
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.contact-title }}</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <div class="col-lg-6 col-10 mx-auto">
            <form action="mailto:hello@hack.productions">
              <button type="submit" class="btn btn-primary w-100">Get In Touch!</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->