<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="container">
    <div class="row">

      <div class="col-sm">
        <h5 class="text-light">Products</h5>

        <ul>
           <li>
             <a class="text-white paragraph-md" href="/events">Livestreaming</a>
           </li>

           <li style="margin-top: 5px">
             <a class="text-white paragraph-md"  href="/events">Event Production</a>
           </li>

           <li style="margin-top: 5px">
             <a class="text-white paragraph-md" href="/events">Video Production</a>
           </li>
        </ul>
      </div>

      <div class="col-sm">
        <h5 class="text-light">Contact Us</h5>

        <ul>
           <li>
             <a href="mailto:hello@hack.productions">hello@hack.productions</a>
           </li>
                
           <li style="margin-top: 5px">
             <a href="https://twitter.com/hackprods">@hackprods</a>
           </li>
            
           <li style="margin-top: 20px">
             <p class="text-white">
               71-75 Shelton Street
               <br/>
               Covent Garden
               <br/>
               London
               <br/>
               WC2H 9JQ
               <br/>
               Registered Company No 12539554
             </p>
           </li>
        </ul>
      </div>

      <div class="col-sm">
        One of three columns
      </div>

    </div>
  </div>

<!-- 

  <div class="container">
     <div class="row">
     
              <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                  <ul class="footer-column">
                       <span>Products</span>    
                       <li>
                          <a href="#">Studio</a>
                        </li>
                             
                        <li>
                          <a href="#">IDK some stuff</a>
                        </li>
                             
                        <li>
                          <a href="#">info@gmail.com</a>
                        </li>
                   </ul>
              </div>
              
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <ul class="contact">
                       <span>Contact</span>    
                       <li>
                          <a href="#">Home</a>
                        </li>
                             
                        <li>
                           <a href="#">About</a>
                        </li>
                             
                        <li>
                          <a href="#">Blog</a>
                        </li>
                             
                        <li>
                           <a href="#">Gallery </a>
                        </li>
                             
                        <li>
                          <a href="#">Contact</a>
                       </li>
                  </ul>
              </div>
         
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                 <ul class="social">
                            <span>Social</span>    
                             <li>
                                  <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                             </li>
                            
                             <li>
                                  <a href="#"><i class="fa fa-github fa-2x"></i></a>
                             </li>
                              
                             <li>
                                  <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
                             </li>
                             
                             <li>
                                  <a href="#"><i class="fa fa-tumblr fa-2x"></i></a>
                             </li>
                              
                             <li>
                                  <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                            </li>
                            
                   </ul>
              </div>
         
         
         </div> 
      </div> -->

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.email }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">{{site.data.settings.copyright | markdownify}}</p>
  </div>
</footer>
<!-- /footer -->


<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165725447-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-165725447-1');
    </script>
