<!-- hero area -->
<section class="hero-area" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary">{{ site.data.settings.hero.hero-title-start }}</h1>

        <h1 class="text-white font-tertiary">{{ site.data.settings.hero.hero-title-end }}</h1>
        <br/>
        <h4 class="text-white font-secondary">
        We pride ourselves on bringing high-quality live production to venues and livestreams globally. Our clients include Fortune 500 companies, top collegiate hackathons, professional and amateur streamers, conferences and media companies.
      </p>
      </div>
    </div>
  </div>

  <!-- social icon -->
 <!--  <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
    {% for social in site.data.settings.social %}
    <li class="mb-3"><a class="text-white" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
    {% endfor %}
  </ul> -->
  <!-- /social icon -->
</section>
<!-- /hero area -->