<div class="top-hero">
    <div class="row">
        <div class="col-4">
            <a href="/"><img class="logo" src="assets/img/logo.svg" /></a>
        </div>
        <div class="col-8 tagline">
            <h1>From set-up to tear-down,</h1>
            <h1>We do the work. You have the fun.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 description">
            <div style="margin: 2em; margin-left: 5em">
                <p>We pride ourselves on bringing high-quality live production to venues and live streams globally.</p>
                <p>Interested in bringing the production quality of your event to the next level?</p>
            </div>
        </div>
    </div>
</div>