<div class="marquee">
    <div class="marquee-content">
        {% for item in site.data.clients %}
        <a href="{{item.link}}" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/clients/{{item.image}}" />
        </a>
        {% endfor %}
        
        {% for item in site.data.clients %}
        <a href="{{item.link}}" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/clients/{{item.image}}" />
        </a>
        {% endfor %}
        
        {% for item in site.data.clients %}
        <a href="{{item.link}}" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/clients/{{item.image}}" />
        </a>
        {% endfor %}
        
        {% for item in site.data.clients %}
        <a href="{{item.link}}" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/clients/{{item.image}}" />
        </a>
        {% endfor %}
    </div>
</div>
<script src="assets/js/marquee.js"></script>