<header class="nav-bar">
    <div class="nav-content">
        <!-- Logo and title -->
        <a class="logo-touch-target" href="{{ '/' | relative_url }}">
            <img class="nav-content logo" src="/assets/img/logo.svg" />
        </a>

        <!-- Toggle menu -->
        <nav class="clear">
            <ul class="hide" style="margin-left: 15vw;">
                {%- for page in site.pages -%}
                {%- if page.hide != true and page.permalink != blank -%}
                <li class="separator"></li>
                <li><a title="{{ page.title }}" href="{{ page.permalink | relative_url }}">
                        {{- page.title -}}
                    </a>
                </li>
                {%- endif -%}
                {%- endfor -%}
            </ul>
        </nav>
    </div>
</header>