<div class="client-types">
    <style>
        html {
        scroll-behavior: smooth;
        }
    </style>
    <div class="row">
        <div class="col-sm">
            <a href="#hackathons">Hackathons</a>
        </div>
        <div class="col-sm">
            <a href="#conferences">Conferences</a>
        </div>
        <div class="col-sm">
            <a href="#livestreams">Live Streams</a>
        </div>
    </div>
    <div class="row">
    </div>
</div>
<div class="clients-hero">
    <div class="row h-40">
        <div id="hackathons" class="col-12 client-pic">
            <br>
            <br>
            <div class="row">
                <div class="col-12">
                    <h1>Hackathons</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img class="rounded" src="assets/img/events/hq_2.jpg" />
                </div>
                <div class="col-6 overview overview-left">
                    <ul>
                        <li>Opening Ceremony</li>
                        <li>Hands on Workshops</li>
                        <li>Technical Talks</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row h-40">
        <div id="conferences" class="col-12 client-pic">
            <div class="row">
                <div class="col-12">
                    <h1>Conferences</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img class="rounded" src="assets/img/events/hackcon-viii.png" />
                </div>
                <div class="col-6 overview overview-left">
                    <ul>
                        <li>Live Presenters</li>
                        <li>Speakers</li>
                        <li>Discussion Panels</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row h-40">
        <div id="livestreams" class="col-12 client-pic">
            <div class="row">
                <div class="col-12">
                    <h1>Live Streams</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img class="rounded" src="assets/img/events/gbgmc_2.jpg" />
                </div>
                <div class="col-6 overview overview-left">
                    <ul>
                        <li>Background Music</li>
                        <li>Live and Prerecorded Video</li>
                        <li>Interactive Graphics</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>