<div class="client-types">
    <div class="row">
        <div class="col-sm">
            Hackathons
        </div>
        <div class="col-sm">
            Conferences
        </div>
        <div class="col-sm">
            Live Streams
        </div>
    </div>
</div>
<div class="clients-hero">
    <div class="row h-50">
        <div class="col-12 client-pic">
            <br>
            <br>
            <br>
            <br>
            <h1>Hackathons</h1>
            <img class="rounded float-left" src="assets/img/events/hq_2.jpg" />
        </div>
    </div>
    <br>
    <div class="row h-50">
        <div class="col-12 client-pic">
            <br>
            <br>
            <br>
            <br>
            <h1>Conferences</h1>
            <img class="rounded float-right" src="assets/img/events/hackcon-viii.png" />
        </div>
    </div>
    <div class="row h-50">
        <div class="col-12 client-pic">
            <br>
            <br>
            <br>
            <br>
            <h1>Live Streams</h1>
            <img class="rounded float-left" src="assets/img/events/gbgmc_2.jpg" />
        </div>
    </div>
</div>