<div>
    <li>
        <a href="mailto:{{ site.data.socials.email }}" title="{{ site.data.language.str_email }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/{{ site.data.socials.facebook }}"
            title="{{ site.data.language.str_follow_on }} Facebook">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/{{ site.data.socials.twitter }}" title="{{ site.data.language.str_follow_on }} Twitter"
            class="type">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <li>
        <a href="https://linkedin.com/company/{{ site.data.socials.linkedin }}" title="{{ site.data.language.str_follow_on }} LinkedIn">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <li>
        <a href="https://github.com/{{ site.data.socials.github }}" title="{{ site.data.language.str_follow_on }} GitHub">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
</div>