
.page {
    text-align: left;
}

.page h1 {
    text-align: left !important;
    font-weight: 800 !important;
    color: black;
}

.events h1 {
    text-align: center !important;
    font-weight: 800 !important;
    color: black;
}

.event h2 {
    text-align: center !important;
    font-weight: 800 !important;
    color: black;
}

.event h4 {
    font-weight: 600 !important;
    text-align: center !important;
    color: black;
}

.event p {
    color: black;
    font-weight: 500;
}

.event a {
    color: #EBC805;
    font-weight: 800 !important;
}

.event a:hover {
    color: #ffff00;
}

.page h2 {
    text-align: left !important;
    font-weight: 800 !important;
    color: black;
}

.page h3 {
    font-weight: 600 !important;
    text-align: left !important;
}

.page h4 {
    font-weight: 600 !important;
    text-align: center !important;
    color: black;
}

.page p {
    color: black;
    font-weight: 500;
}

.page .obs-img {
    max-width: 80vw;
}

.page td {
    color: black;
}

.page th {
    color: black;
}

.page li {
    color: black;
}

.page a {
    color: #EBC805;
}

.page a:hover {
    color: #ffff00;
}

.page code {
    color: #17a2b8;
}

hr {
    background-color: black;
    padding: 1px;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

@media screen and (max-width: 768px) {
    

    .page h1 {
        font-size: 1.5rem !important;
    }

    .page h2 {
        font-size: 1.2rem !important;
    }
    
    .page h4 {
        font-size: 0.8rem !important;
    }

    .event h1 {
        font-size: 1.5rem !important;
    }

    .event h2 {
        font-size: 1.2rem !important;
    }
    
    .event h4 {
        font-size: 0.8rem !important;
    }
}