.av-item {
  padding: 10px;
  border: 3px solid black;
  height: max-content;
}

.av-heading {
  text-align: center;
  padding-bottom: 1rem;
}

.av-photo-row {
  display: flex;
  width: 100%;
}

.av-photo-column {
  flex: 33.33%;
  padding: 5px;
  border: 3px solid black;
}

.av-quote {
  margin-top: 1rem;
}

table, th, td {
  padding: 10px;
  border: 3px solid black; 
  border-collapse: collapse;
}