// Color Variables
$primary-color: #292929;
$secondary-color: #0f90fe;
$text-color: black;
$text-color-dark: #000;
$text-color-light: white;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #363636;

// Font Variables
$primary-font: 'PT Sans Caption', sans-serif;
$secondary-font: 'PT Sans Caption', sans-serif;
$tertiary-font: 'PT Sans Caption', sans-serif;
$icon-font: 'themify';

