---
---

.marquee {
  margin: 0 auto;
  width: 60vw; // or 100% inside a container
  height: 6em;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  
  &:before, &:after {
    position: absolute;
    top: 0;
    width: 50px;
    height: 150px;
    content: "";
    z-index: 1;
  }
  &:before {
    left: 0;
    background: linear-gradient(to right, #292929 5%, transparent 100%);
  }
  &:after {
    right: 0;
    background: linear-gradient(to left, #292929 5%, transparent 100%);
  }
}

.marquee-content {
  width: 300% !important;
  display: flex;
  line-height: 30px;
  animation: marquee 20s linear infinite forwards;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  max-height: 4em;
}

.marquee-content img {
  display:inline-block;
  padding-left: 1em;
  padding-right: 1em;
  max-height: 5em;
  margin:0;
}

.list-inline {
  display: flex;
  justify-content: space-around;
  width: 33.33%;
  
  /* reset list */
  list-style: none;
  padding: 0;
  margin: 0;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-66.6%); }
}