---
layout: null
---

@import "item.css";
@import "marquee.css";

/* font override */
p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Source Code Pro", serif;
}

p, h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    color: white;
}

body {
    background-color: #292929;
    background-size: cover;
}

.centre {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #292929;
}

.main {
    color: #292929;
    background-color: #292929;
    text-align: center;
    font-size: 1em;
}

.logo {
    max-width: 30em;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.logo img {
    max-width: 30em;
}

.intro {
    margin: 50px;
}

.main .btn-outline-primary {
    color: #EBC805;
    border-color: #EBC805;
    border-width: 0.25em;
    border-radius: 20px;
    margin: 1em;
}

.main .btn-outline-primary:hover, .main .btn-outline-primary:active:focus {
    background-color: #EBC805;
    border-color: #EBC805;
    color: #292929;
}

.main .btn-primary {
    color: #292929;
    background-color: #EBC805;
    border-color: #EBC805;
    border-radius: 0;
    margin: 0.25em;
}

.main .btn-primary:hover, .main .btn-primary:active:focus {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #0e1428;
}

.team {
    margin-top: 2em;
    text-align: center;
    margin-bottom: 2em;
}

.team a {
    color: #EBC805;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
}

.team > a > div {
    margin-top: 0.5em;
}

.team > a > div > div {
    color: #ececec;
    margin-top: -0.25em;
}

.team a:hover {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

.team img {
    border-radius: 50%;
    width: 8em;
    border-color: #EBC805;
    border-width: 0.25em;
}

@media screen and (max-width: 1000px) {
    .main {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 500px) {
    .main {
        font-size: 1em;
    }
}