---
layout: page
---
<div class="row">
    <div class="col-12 about-content">
        {{ content }}
    </div>
</div>

<div class="about-hero">
    <div class="row h-50">
        <div class="col-12 about-container">
            <br>
            <br>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <img class="rounded float-left" src="assets/img/team/jon.jpg" />
                </div>
                <div class="col-3 about">
                    <h1>Jon Kingsley</h1>
                    <p>Background in live streaming</p>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="row h-50">
        <div class="col-12 about-container">
            <br>
            <br>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3 about">
                    <h1>Will Russell</h1>
                    <p>Background in live events and discos</p>
                </div>
                <div class="col-3">
                    <img class="rounded float-right" src="assets/img/team/will.jpg" />
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
    <div class="row h-50">
        <div class="col-12 about-container">
            <br>
            <br>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <img class="rounded float-left" src="assets/img/team/daniel.jpg" />
                </div>
                <div class="col-3 about">
                    <h1>Daniel Spencer</h1>
                    <p>Background in school theatre productions</p>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</div>