<html lang="en">

    {% include header.html %}
    <body>

        <div class="hero container d-flex">
            <div class="align-self-center justify-content-center w-100">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-12 col-sm-8 col-md-8 col-lg-6 col-xl-6">
                        <img class="logo" src="assets/img/logo.png" />
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>{{content}}</p>

                        <br/>
                        <a href="mailto:hello@hack.productions">
                            <button type="button" class="btn btn-outline-primary"><i class="fas fa-envelope"></i> Let's talk!</button>
                        </a>

                    </div>
                </div>

                <h2 class="header">Brought to you by</h2>
                <div class="team">
                    <a href="https://twitter.com/JFKingsley"><img src="./assets/img/team/jon.jpg" /> <div>Jon Kingsley</div></a>
                    <a href="https://will-russell.com"><img src="./assets/img/team/will.jpg" /> <div>Will Russell</div></a>
                    <a href="https://www.linkedin.com/in/danielfspencer/"><img src="./assets/img/team/daniel.jpg" /> <div>Daniel Spencer</div></a>
                </div>
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
