<html lang="en">

    {% include header.html %}
    
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=OpenSans"
        rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/home.css">
    <link rel='icon' href='./assets/img/logo/favicon.ico' type='image/x-icon' />
    <title>Hackathons for Schools</title>
</head>

    <body>
    
        <div class="hero container d-flex">
            <div class="align-self-center justify-content-center w-100">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-12 col-sm-8 col-md-8 col-lg-6 col-xl-6">
                        <img class="logo" src="assets/img/logo.svg" />
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>{{content}}</p>
    
                        <br />
                        <a href="mailto:hello@hack.productions">
                            <button type="button" class="btn btn-outline-primary"><i class="fas fa-envelope"></i> Let's talk!</button>
                        </a>
    
                    </div>
                </div>
                <br>
                <br>
                <br>
                <h2 class="header">Brought to you by</h2>
                <div class="team">
                    <a href="https://twitter.com/JFKingsley"><img src="./assets/img/team/jon.jpg" />
                        <div>Jon Kingsley</div>
                    </a>
                    <a href="https://will-russell.com"><img src="./assets/img/team/will.jpg" />
                        <div>Will Russell</div>
                    </a>
                    <a href="https://www.linkedin.com/in/danielfspencer/"><img src="./assets/img/team/daniel.jpg" />
                        <div>Daniel Spencer</div>
                    </a>
                </div>
            </div>
        </div>
    
</body>

</html>