---
layout: default
---
<div class="top-hero">
    <div class="row">
        <div class="col-4">
            <a href="/"><img class="logo" src="assets/img/logo.svg" /></a>
        </div>
        <div class="col-8 tagline">
            <h1>From set-up to tear-down,</h1>
            <h1>We do the work. You have the fun.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 description">
            <div style="margin: 2em; margin-left: 5em">
                <p>We pride ourselves on bringing high-quality live production to venues and live streams globally.</p>
                <p>Interested in bringing the production quality of your event to the next level?</p>
            </div>
        </div>
    </div>
</div>
<div class="client-types">
    <div class="row">
        <div class="col-sm">
            Hackathons
        </div>
        <div class="col-sm">
            Conferences
        </div>
        <div class="col-sm">
            Live Streams
        </div>
    </div>
</div>
<div class="clients-hero">
    <div class="row h-50">
        <div class="col-12 client-pic">
            <br>
            <br>
            <br>
            <br>
            <h1>Hackathons</h1>
            <img class="rounded float-left" src="assets/img/events/hq_2.jpg" />
        </div>
    </div>
    <br>
    <div class="row h-50">
        <div class="col-12 client-pic">
            <br>
            <br>
            <br>
            <br>
            <h1>Conferences</h1>
            <img class="rounded float-right" src="assets/img/events/hackcon-viii.png"/>
        </div>
    </div>
    <div class="row h-50">
        <div class="col-12 client-pic">
            <br>
            <br>
            <br>
            <br>
            <h1>Live Streams</h1>
            <img class="rounded float-left" src="assets/img/events/gbgmc_2.jpg" />
        </div>
    </div>
</div>
<div class="client-logos-hero">
    <div class="row client-logos">
        <div class="col-3">
            <img src="assets/img/clients/mlh.png" />
        </div>
        <div class="col-3">
            <img src="assets/img/clients/grindr.png" />
        </div>
        <div class="col-3">
            <img src="assets/img/clients/hackquarantine.png" />
        </div>
        <div class="col-3">
            <img src="assets/img/clients/gbgmc.png" />
        </div>
    </div>
    <div class="row client-logos">
        <div class="col-3">
            <img src="assets/img/clients/whd.png" />
        </div>
        <div class="col-3">
            <img src="assets/img/clients/hackathonsuk.svg" />
        </div>
        <div class="col-3">
            <img src="assets/img/clients/htb.png" />
        </div>
        <div class="col-3">
            <img src="assets/img/clients/covhack.png" />
        </div>
    </div>
</div>
<div class="get-started-hero">
    <h1 class="levelup">Ready to level up your event?</h1>
    <a href="mailto:{{ site.data.socials.email }}">
        <br />
        <button type="button" class="btn btn-outline-primary">
            <div class="page-button" id="started-button"><i class="fas fa-envelope"></i> Get in touch!</div>
        </button>
    </a>
</div>
<div class="footer-hero">
    <div class="row">
        <div class="col-3 list-text">
            <h4>Services</h4>
            <a href="/"><p>Hackathons</p></a>
            <a href="/"><p>Conferences</p></a>
            <a href="/"><p>Live Streaming</p></a>
        </div>
        <div class="col-3 list-text">
            <h4>Support</h4>
            <a href="/setup/recorded"><p>Recording Video</p></a>
            <a href="/setup/streaming"><p>Broadcasting Video</p></a>
        </div>
        <div class="col-3 list-text">
            <h4>Company</h4>
            <a href="/about"><p>About</p></a>
            <a href="/blog"><p>Blog</p></a>
        </div>
        <div class="col-3 company-info">
            <p>Copyright © 2020 Hack Productions Limited.</p>
            <p>All rights reserved.</p>
        </div>
    </div>
</div>
{% include footer.html %}
<script src="assets/js/video.js"/>