<html lang="en">

{% include header.html %}

<head>
    <title>Hack Productions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include social-link.html %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro" rel="stylesheet">
    <link rel='icon' href='./assets/img/favicon.ico' type='image/x-icon' />
</head>

<body>
    <div class="centre">
        <div class="main">
            <img class="logo" src="assets/img/logo.svg" />
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <p>{{content}}</p>
                    </div>

                    <a href="mailto:hello@hack.productions">
                        <br />
                        <button type="button" class="btn btn-outline-primary"><div id="email-button"><i class="fas fa-envelope"></i> Let's talk</div></button>
                    </a>

                </div>
            </div>
            <br /><br />
            <h3>Our clients</h3>
            <br />

            <div class="marquee">
                <div class="marquee-content">
                    {% for item in site.data.clients %}
                    <a href="{{item.link}}" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/img/clients/{{item.image}}" />
                    </a>
                    {% endfor %}

                    {% for item in site.data.clients %}
                    <a href="{{item.link}}" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/img/clients/{{item.image}}" />
                    </a>
                    {% endfor %}

                    {% for item in site.data.clients %}
                    <a href="{{item.link}}" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/img/clients/{{item.image}}" />
                    </a>
                    {% endfor %}

                    {% for item in site.data.clients %}
                    <a href="{{item.link}}" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/img/clients/{{item.image}}" />
                    </a>
                    {% endfor %}
                </div>
            </div>
            <br>
            <br>
            <br>
            <h2>Brought to you by</h2>
            <div class="team">
                {% for item in site.data.team %}
                <a href="{{item.link}}"><img src="/assets/img/team/{{item.image}}.jpg" />
                    <p>{{item.person}}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>